.cart-item {
  display: flex;
  margin-bottom: 1em;
  max-width: 60em;
}

.CartItemImage {
  height: 10em;
  outline: 3px solid black;
}

.ItemPanel {
  text-decoration: none;
  color: black;
}

.ItemSection {
  display: inline-block;
  width: 50em;
  height: 12em;
}

.ItemSection:hover {
  background-color: rgb(224, 224, 224);
  text-decoration: none;
  color: black;
}

.ItemSection a:link {
  text-decoration: none;
}

.RemoveBtn {
  height: 11.5em;
  margin-right: 1em;
}

.HeaderText {
  text-transform: uppercase;
  /* text-align: center; */
  margin-left: 1em;
}

.Details {
  margin-left: 1.5em;
}