.item {
    padding: 4em 3vw 3vw 4em;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 3em
}

<<<<<<< Updated upstream
.dashbord{
    display: inline-block;  
    color:black;
    margin-left:10%;
    margin-bottom:5%;
    border-radius: 5%;
}

.dashbord img{
    width:200px;
    height:120px;
    border-radius: 2%;
    text-align: center;
    display: inline-block;
    border: black 10px;
}

.dashbord-img{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.dashbord p{
    margin:0px;
    margin-left:10px;
    margin-top:5px;
}

.dashbord .for{
    /* text-align: center; */
    color: royalblue;
}

.dashbord p:hover {
    color: black;
    text-decoration: none;
} 


.ItemImage {
    width: 20em;
    height: 20em;
    border: 1px solid black;
    margin-right: 1em;
=======
.item-image-box {
    display: block;
>>>>>>> Stashed changes
}

.item-image {
    width: 30vw;
    height: 25vw;
    border: 0.1em solid black;
}

#main-image {
}



.add-to-cart {
    background: black;
    color: white;
    border: none;
    border-radius: 0.25em;
    padding: 1.25rem 2.5rem;
    font-size: 1.5em;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.add-to-cart:hover {
    background-color: rgb(49, 49, 49);
}

.make-transaction {
    background: green;
    color: white;
    border: none;
    border-radius: 0.25em;
    padding: 1em 2em;
    font-size: 1.25em;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}


/* make button slightly darker when hovering mouse over */

.make-transaction:hover {
    background-color: rgb(14, 95, 0);
}

@media (max-width: 400px) {
    .item-image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 33em;
        height: 33em;
        display: block;
        background-color: lightgray;
    }
    .item-image img,
    .image-list img {
        max-width: 100%;
        height: auto;
    }
    .image-list {
        display: flex;
        justify-content: center;
        /* align horizontal */
        align-items: center;
        /* align vertical */
        justify-content: center;
        align-items: center;
        list-style-type: none;
        margin-top: 1em;
        /* border: 1px solid black; */
    }
    .image-list li {
        position: relative;
        right: 2.4em;
        width: 8em;
        height: 6em;
        margin-right: 0.5em;
        background-color: lightgray;
        cursor: pointer;
    }
    .image-list img {
        max-width: 100%;
        height: auto;
        transition: opacity 0.2s ease;
    }
    /* for javascript attach border when selected */
    .image-list-img-border {
        border: 3px solid black;
        border-radius: 4px;
    }
    /* make image slightly transparent when hovering mouse over */
    .image-list img:hover {
        opacity: 0.7;
    }
}


/*Product Quantity Box */

.qtySelector {
    border: 1px solid #ddd;
    width: 107px;
    height: 35px;
    margin: 10px auto 0;
}

.qtySelector .qtyBtn {
    padding: 10px 5px;
    width: 35px;
    height: 100%;
    float: left;
    cursor: pointer;
}

.qtySelector .qtyBtn.clicked {
    font-size: 12px;
    padding: 12px 5px;
}

.qtySelector .minus {
    border-right: 1px solid #ddd;
}

.qtySelector .plus {
    border-left: 1px solid #ddd;
}

.qtySelector .qtyValue {
    border: none;
    padding: 5px;
    width: 35px;
    height: 100%;
    float: left;
    text-align: center
}

.statusMsg {
    margin-top: 1em;
    width: 15em;
    text-align: center;
}

.delete-item-btn {
    background-color: #fc6969;
    /* Green */
    border: none;
    color: white;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    display: flex;
    float: right;
    font-size: 15px;
    border-radius: 5%;
}