.navbar {
    background-color: #7d8b11;
    margin-bottom: 2em;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav {
    margin-right: auto
}

.navbar-text {
    font-size: 1.5em;
    font-weight: bold;
    color: white !important;
    transition: 0.3s;
}

.navbar-text:hover {
    font-weight: bold;
    color: #f3e0c2 !important;
}

.navbar-item {
    width: 6 em;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-right: 7px;
}

.button1 {
    border-radius: 0.5em;
    background-color: white;
    border: 2px solid white;
    width: 7em;
    height: 2.8em;
    font-weight: bold;
    transition: 0.3s;
}

.button2 {
    border-radius: 0.5em;
    background-color: white;
    border: 2px solid white;
    width: 7em;
    height: 2.8em;
    font-weight: bold;
    transition: 0.3s;
}

.button1:hover {
    background-color: #f3e0c2;
    border: 2px solid #484e10;
}

.button2:hover {
    background-color: #f3e0c2;
    border: 2px solid #484e10;
}

.button-text {
    color: #484e10 !important;
}

#username-text {
    color: black;
}

#username-text:hover {
    color: black;
}

#navbar-spacing {
    margin-bottom: 6em;
}

#notification {
    background-color: white;
    color: black;
    font-weight: 500;
    padding: 10px 20px;
    margin-right: 1em;
    position: relative;
    display: inline-block;
    border: 2px solid black;
    border-radius: 0.3em;
}

#notification:hover {
    color: white;
    background: orangered;
    cursor: pointer;
}

#notification .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 7.5px;
    border-radius: 50%;
    background-color: red;
    color: white;
}

#notification-panel {
    opacity: 0;
    visibility: hidden;
    background-color: white;
    -moz-box-shadow: 0 0 4px black;
    -webkit-box-shadow: 0 0 4px black;
    box-shadow: 0 0 4px black;  /* Horizontal offset, Vertical offset, Blur radius, Color */
    border-radius: 0.2em;
    width: 0;
    height: 0;
    position: absolute;
    top: 4.1em;
    right: 15em;
    z-index: 100;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: all 0.2s ease-out;
}

#notification:hover~#notification-panel, #notification-panel:hover {
    opacity: 1;
    visibility: visible;
    width: 18em;
    height: 20em;
    transition: all 0.2s ease-in;
}

.notification-items {
    color: black;
    text-decoration: none;
    padding: 12px 10px;
    background-color: rgba(0, 140, 255, 0.07);
    margin-bottom: 0.5em;
}

.notification-items:hover {
    /* cursor: pointer; */
    color: black;
    background-color: rgba(0, 0, 0, 0.01);
}

#notification-view-more {
    margin-left: auto;
    margin-right: auto;
    padding: 12px 0;
    width: 16em;
    color: black;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    background-color: white;
}

#notification-view-more:hover {
    text-decoration: none;
}

.notification-date {
    text-align: right;
    font-size: 13px;
}

.notification-read {
    background-color: rgba(0, 0, 0, 0.01);
}

.notification-unread {
    background-color: rgba(0, 140, 255, 0.07);
}
