.navbar {
    border-bottom: 1px solid silver;
    box-shadow: 5px 3px whitesmoke;
    background-color: #7d8b11;
}

.nav {
    margin-right: auto
}

.navbar-text {
    font-size: 1.5em;
    font-weight: bold;
    color: white !important;
    transition: 0.3s;
}

.navbar-text:hover {
    font-weight: bold;
    color: #f3e0c2 !important;
}

.navbar-item {
    width: 6 em;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 7px;
    margin-bottom: 7px;
}

.button1 {
    border-radius: 1em 0.5em 0.5em 1em;
    background-color: white;
    border: 2px solid white;
    width: 7em;
    height: 2.8em;
    font-weight: bold;
    transition: 0.3s;
}

.button2 {
    border-radius: 0.5em 1em 1em 0.5em;
    background-color: white;
    border: 2px solid white;
    width: 7em;
    height: 2.8em;
    font-weight: bold;
    transition: 0.3s;
}

.button1:hover {
    background-color: #f3e0c2;
    border: 2px solid #484e10;
}

.button2:hover {
    background-color: #f3e0c2;
    border: 2px solid #484e10;
}

.button-text {
    color: #484e10 !important;
}

#username-text {
    color: black;
}

#username-text:hover {
    color: black;
}