.my-profile {
    display: grid;
    grid-template-columns: 20% 80%;
    margin-left: auto;
    margin-right: auto;
}

.form {
    padding: 3em;
}

.profile-sidebar {
    padding-top: 10vw;
    background-color: white;
}

.profile-list {
    list-style-type: none;
    padding-left: 10px;
}

.profile-list li {
    border-radius: 0.5em;
    padding: 0.8em;
    margin-bottom: 0.4em;
    background-color: #484e10;
    border: none;
    font-size: 1.3em;
    font-weight: bold;
    color: white;
    transition: 0.3s;
}

.profile-list li:hover {
    background-color: rgba(125, 139, 17, 0.7);
}

.profile-page {
    padding: 3vw;
    margin-left: 1em;
    border: 1px solid black;
}

.prow {
    height: 5em;
    margin-bottom: 1em;
}

.prow:nth-child(1) {
    height: 4em;
}

#profile-name {
    margin-bottom: 1.5em;
}

.profile-input {
    width: 20vw;
    height: 3.5em;
    margin-bottom: 1em;
    padding-top: auto;
    padding-bottom: auto;
    padding-left: 0.4em;
}

.labels {
    float: left;
    width: 20%;
    height: 30em;
    text-align: right;
    margin-right: 3em;
    margin-bottom: 1em;
}

.label {
    display: block;
    padding-top: 0.3em;
    padding-bottom: 1.9em;
    color: #484e10;
    font-size: 1em;
    font-weight: 300;
}

#district-select {
    width: 20vw;
}

.left-item-list {
    list-style-type: none;
}

.right-content-label {
    margin-top: 0.5em;
    margin-left: 1em;
    margin-bottom: 1em;
    text-transform: capitalize;
}

.update-msg {
    text-align: center;
    width: 15em;
    margin-left: 8em;
}

.success {
    color: green;
}

.fail {
    color: red;
}

.not-allowed:hover {
    cursor: not-allowed;
}

@media screen and (max-width: 780px) {
    .my-profile {
        text-align: center;
        display: block;
    }
    .profile-sidebar {
        padding-top: 1em;
        padding-bottom: 1em;
    }
    .profile-item {
        display: inline;
    }
    .profile-page {
        margin-left: 0;
        margin-top: 1.5em
    }
    .profile-list {
        padding-left: 0;
        margin-bottom: 0;
    }
    #name {
        margin-top: 0.5em;
        margin-bottom: 1.5em
    }
    .profile-input {
        width: 30vw;
        margin-top: 0.2em;
        margin-bottom: 1.2em
    }
    #district-select {
        width: 30vw
    }
    .form {
        padding: 2em;
    }
    .labels {
        margin-right: 1em;
    }
}