.Flexbox-item {
    width: 40em;
    height: 15em;
    margin: auto;
}

.Button-item {
    margin-left: 1.5em;
    margin-right: 1.5em;
}

.Vertical-line {
    height: 20em;
    width: 0;
    border: 1px solid black;
    /* margin: auto 1em auto 1em; */
}

.role-table {
    margin-top: 2em;
    text-align: left;
}

.role-table td {
    padding-bottom: 1em;
}

.role-table input {
    margin-left: 8em;
}

.tableheader {
    font-weight: bold;
}

.user-menu {
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.user-menu-button {
    border-radius: 0.5em;
    background-color: rgb(72, 78, 16);
    border: none;
    width: 15em;
    height: 4em;
    margin-top: 2em;
    margin-bottom: 2em;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

.user-menu-button:hover {
    background-color: rgba(125, 139, 17, 0.7);
}

.admin-menu-button{
    border-radius: 0.5em;
    background-color: rgb(0, 71, 165);
    border: none;
    width: 15em;
    height: 4em;
    margin-top: 2em;
    margin-bottom: 2em;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

.admin-menu-button:hover {
    background-color: rgba(2, 84, 236, 0.459);
}

.danger-zone-container {
    margin-bottom: 3em;
}

.danger-text {
    color: white;
    font-weight: bold
}

.danger-zone-btn {
    width: 100%;
    background-color: rgb(200, 0, 0);
    border: none;
}

.danger-zone-btn:hover {
    cursor: pointer;
}

.danger-text-div {
    padding: 10px;
    max-height: 100px;
}

.hide {
    display: none;
    opacity: 0;
}

.show {
    display: block;
    opacity: 1;
}

.delete-button-container {
    width: 100%;
    overflow: auto;
    z-index: 1;
    border: 2px solid black;
}

.delete-button {
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    background-color: rgb(200, 0, 0);
    border: none;
    border-radius: 0.25em;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 10px 10px;
    text-decoration: none;
}

.delete-item-button-single {
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    background-color: rgb(200, 0, 0);
    border: none;
    border-radius: 0.25em;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 0.5em;
    text-decoration: none;
}

.UserInfo p {
    font-size: 20px;
}

.menu {
    grid-template-columns: repeat(5, auto);
}

@media screen and (max-width: 1380px) {
    .menu {
        grid-template-columns: repeat(4, auto);
    }
}

@media screen and (max-width: 1090px) {
    .menu {
        grid-template-columns: repeat(3, auto);
    }
}

@media screen and (max-width: 830px) {
    .menu {
        grid-template-columns: repeat(2, auto);
    }
}

@media screen and (max-width: 545px) {
    .menu {
        text-align: center;
        display: block;
    }
}

.page-buttons {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.page-buttons button {
    border: none;
    border-radius: 2px;
    padding: 3px 9px;
    color: black;
    background-color: rgba(125, 139, 17, 0.5);
}

.page-buttons button:hover {
    border: none;
    color: white;
    background-color: rgba(125, 139, 17, 0.8);
}

.ResultsAndSort {
    display: flex;
    margin-bottom: -2em;
}

#results {
    margin-left: 0;
    margin-right: auto;
}

#select-sort {
    margin-left: auto;
    margin-right: 0;
}

.DescriptionWrapper {
    border: 2px solid gray;
    border-radius: 5px;
    min-height: 15em;
}

@media screen and (max-width: 760px) {
    .user-menu {
        text-align: center;
        display: block;
    }
}